/*seletor universal*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color-hover: rgba(255, 255, 255, 0.02);
  --switch-bg-url: url(assets/moon-stars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color-hover: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(assets/sun.svg);
}
body {
  /*  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  background: var(--bg-url) no-repeat top center/cover;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  width: 360px;
  margin: 56px auto 0px; /*funcionado em sentido horario começando pelo top*/
  padding: 0 24px;
}
#switch {
  position: relative; /*faz com que os elementos de posicionamento ficam dentro desse container*/
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute; /*faz a sobreposição de camada para usar o z index e as prorpiedades top, bottom etc*/
  left: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}
/*padrao vem display line*/
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
}
#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  background: var(--surface-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.5s;
}
ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}
#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}
/*faz a bolinha do hover fica no centro*/
#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--highlight-color-hover);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 16px;
}
